/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{

}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.faqMainContent > section > .slider, .trackComment{
  display: grid;
  grid-template-columns: 20px auto 20px;
  align-items: center;
}
.slick-arrow{
  font-size: 0;
  width: 20px;
  height: 12px;
}
.slick-arrow.slick-prev{
  background: url('../img/arrowLeftMin.png') no-repeat;
  background-size: contain;
}
.slick-arrow.slick-next{
  background: url('../img/arrowRightMin.png') no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1050px){
  .sliderNavBar{
     display: grid;
     grid-template-columns: 20px auto 20px;
     align-items: center;
   }
}
@media screen and (max-width: 426px){
  .faqMainContent > section > .slider{
    grid-template-columns: 1fr;
  }
}
